{% extends "base.html" %}

{% block title %}
Complete Profile
{% endblock %}


{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body">

            <h2 class="text-center mb-4">
                Complete Your Profile
            </h2>


            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}


                <button class="btn btn-primary w-100">
                    Save Profile
                </button>

            </form>


        </div>

    </div>

</div>

{% endblock %}