{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width:500px;">

    <div class="card shadow">

        <div class="card-body">

            <h2 class="mb-4 text-center">
                Create Account
            </h2>

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    class="btn btn-primary w-100">

                    Register

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}